@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Sacramento");
*, html {
  margin: 0;
  padding: 0; }

body {
  background: #fdc539;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%; }
  body h1 {
    text-align: center;
    color: #e7a602;
    text-shadow: -1px -1px 1px #b58202, 1px 1px 1px #fed46b;
    padding-top: 20px; }
    body h1 a {
      color: inherit;
      text-decoration: none; }
      body h1 a:hover {
        color: #d89b02; }
    body h1 p {
      font-family: "Press Start 2P", sans-serif;
      font-size: 1.5em; }
    body h1 span {
      font-family: "Sacramento", sans-serif;
      font-size: 1.5em;
      position: relative;
      bottom: 25px;
      left: 22px; }
  body form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0 0 20px; }
    body form.var-suggestion {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      body form.var-suggestion input {
        margin-left: 10px;
        border-radius: 3px 0 0 3px; }
      body form.var-suggestion input[type=submit] {
        margin-left: 0;
        margin-right: 10px;
        padding: 10px 15px 13px;
        border-radius: 0 3px 3px 0; }
    body form label {
      width: 100%;
      padding: 20px 13px 5px; }
    body form input {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      font-size: 1em;
      padding: 7px 10px;
      border: none;
      border-radius: 0; }
    body form input[type=submit] {
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      background: #0C6699;
      background: -webkit-gradient(linear, left top, left bottom, from(#0C6699), to(#0C6699));
      background: linear-gradient(#0C6699, #0C6699);
      border-radius: 0;
      border: none;
      color: white;
      padding: 10px 35px 13px;
      font-size: 1.3em;
      cursor: pointer; }
  body ul {
    list-style: none; }
    body ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: white;
      border-radius: 3px;
      text-decoration: none;
      color: black;
      margin: 0 10px 15px; }
      body ul li a h2 {
        padding: 15px;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      body ul li a button {
        display: block;
        border: none;
        background: #0C6699;
        color: white;
        padding: 10px;
        font-family: "Press Start 2P", sans-serif;
        font-size: 1em;
        -webkit-box-flex: 0;
            -ms-flex: 0;
                flex: 0;
        border-radius: 0 3px 3px 0;
        cursor: pointer; }
  body footer {
    font-size: 0.8em;
    color: #694b01;
    text-align: center;
    padding: 30px 0 50px; }
  body header a {
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background: #fed46b; }
    body header a svg {
      height: 10px;
      width: 10px; }
  body header h1 {
    margin-top: 9px; }
  body main p {
    display: block;
    background-color: white;
    text-align: center;
    margin: 10px auto 50px;
    width: 70%;
    min-width: 300px;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    font-size: 1.4em; }
  body main span {
    font-family: "Sacramento", sans-serif;
    font-size: 4em;
    display: block;
    text-align: center;
    padding: 35px 0;
    position: relative; }
    body main span::after {
      content: "";
      display: block;
      width: 150px;
      height: 150px;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      border: solid 1px gainsboro;
      z-index: -1;
      border-radius: 50%; }
  body main button {
    background: #0C6699;
    background: -webkit-gradient(linear, left top, left bottom, from(#0C6699), to(#0C6699));
    background: linear-gradient(#0C6699, #0C6699);
    border-radius: 0;
    border: none;
    font-size: 1.7em;
    margin: 30px auto 10px;
    display: block;
    color: white;
    padding: 10px 40px 13px;
    cursor: pointer; }
    body main button.var-sub {
      font-size: 1.5em;
      background: #1086c8;
      background: -webkit-gradient(linear, left top, left bottom, from(#1086c8), to(#1086c8));
      background: linear-gradient(#1086c8, #1086c8); }
  body main .card {
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #e7a602; }
    body main .card dialog {
      display: block;
      background: white;
      width: 70%;
      max-width: 500px;
      margin: 50px auto 0;
      border: 10px solid gainsboro;
      border-radius: 5px;
      -webkit-box-shadow: 0 0 15px #b58202;
              box-shadow: 0 0 15px #b58202;
      position: absolute;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
      top: 0;
      left: 0;
      right: 0;
      bottom: 115px; }
      body main .card dialog.var-good h2 {
        background: repeating-linear-gradient(-45deg, #448212, #448212 4px, #509815 4px, #509815 8px);
        color: white; }
      body main .card dialog.var-bad h2 {
        background: repeating-linear-gradient(-45deg, #9E1400, #9E1400 4px, #b81700 4px, #b81700 8px);
        color: white; }
      body main .card dialog.var-finisher {
        border-color: #FFEA39; }
      body main .card dialog h2 {
        padding: 20px;
        background: #0C6699;
        background: repeating-linear-gradient(-45deg, #0C6699, #0C6699 4px, #0e76b1 4px, #0e76b1 8px);
        color: white;
        margin-bottom: 10px; }
      body main .card dialog figure img {
        display: block;
        width: 100%; }
      body main .card dialog figure figcaption {
        padding: 10px 20px;
        font-size: 1.3em; }
    body main .card button {
      position: absolute;
      bottom: 0;
      text-align: center;
      max-width: 520px;
      width: 70%;
      width: calc(70% + 20px);
      right: 0;
      left: 0;
      margin: 30px auto;
      padding-left: 50px;
      padding-right: 50px; }
    body main .card.show {
      opacity: 1;
      pointer-events: auto; }
      body main .card.show dialog {
        -webkit-transform: translateY(0);
                transform: translateY(0); }
  body #oldPage.show {
    height: 100vh; }
  body #oldPage.hide {
    display: none; }
  body #nextPage {
    background: #fdc539;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    -webkit-transform: translate(0);
            transform: translate(0); }
    body #nextPage.hide {
      -webkit-transform: translate(100%);
              transform: translate(100%); }
  body .hidden {
    display: none; }
