@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Sacramento");
*, html {
  margin: 0;
  padding: 0; }

body {
  background: url("/img/Large_FK-744.jpg"); }
  body h1 p {
    font-family: "Press Start 2P", sans-serif; }
  body h1 span {
    font-family: "Sacramento", sans-serif; }
