@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Sacramento');
// fonts
$pixel-font: 'Press Start 2P',sans-serif;
$writen-font: 'Sacramento',sans-serif;

// colors
$blue-light:#34B0C8;
$orange:#F99159;
$red: #F15F5C;
$green: #ABED83;
$yellow: #F3F5C4;

$dark-blue: #336699;
$dark-red: #CC3333;

$background-color: $dark-blue;
$accent-background: $dark-red;
$accent-color: white;

// color tweeks
$darken: 20%;
$lighten: 10%;

// striped header
$stroke-width: 4px;

$good-background: $green;
$good-color: black;
$bad-background: $dark-red;
$bad-color: white;