@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Sacramento');
// fonts
$pixel-font: 'Press Start 2P',sans-serif;
$writen-font: 'Sacramento',sans-serif;

// colors
$blue-light:#34B0C8;
$orange:#F99159;
$red: #F15F5C;
$green: #ABED83;
$yellow: #F3F5C4;

//$dark-blue: #336699;
$dark-red: #CC3333;

$game-blue: #0C6699;

$background-color: orange;
$accent-background: $game-blue;
$accent-color: white;

// color tweeks
$darken: 15%;
$lighten: 10%;

// striped header
$stroke-width: 4px;

$good-background: #448212;
$good-color: white;
$bad-background: #9E1400;
$bad-color: white;
$finisher-border-color: #FFEA39;