@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Sacramento');
// fonts
$pixel-font: 'Press Start 2P',sans-serif;
$writen-font: 'Sacramento',sans-serif;

// colors

$red: #F03C27;
$orange: #FF9600;
$green: #39C23E;
$primary-color: #1057A1;
$light-blue: #83DCF3;

$background-color: silver;//darken(green,10%);
$accent-background: $primary-color;
$accent-color: white;

//	background: lighten($accent-background,5%);
//	background: linear-gradient(lighten($accent-background,5%),lighten($accent-background,5%));

