@import "variables";
*,html{
	margin: 0;
	padding: 0;
}

body{
	background: $background-color;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

	h1{
		text-align: center;
		$darken-logo: 30%;
		color: darken($background-color,$darken);
		text-shadow: -1px -1px 1px darken($background-color,$darken + 10%), 1px 1px 1px lighten($background-color,$lighten);
		padding-top: 20px;
		a{
			color: inherit;
			text-decoration: none;

			&:hover{
				color: darken($background-color,$darken + 3%);
			}
		}

		p{
			font-family: $pixel-font;
			font-size: 1.5em;
		}
		span{
			font-family: $writen-font;
			font-size: 1.5em;
			position: relative;
			bottom: 25px;
			left: 22px;
		}

	}

	#overlay{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.6);
		z-index: 1;
		padding: 20px;
		cursor: pointer;

		.arrow-group{
			position: relative;
			top: 30px;

			.arrow{
				display: block;
				width: 100px;
				margin: 5px;
				position: relative;

				&.var-top{
					float: left;
				}
				&.var-right{
					float: right;
					display: block;
					width: 75px;
					right:100px;
				}
			}
			.arrow-description{
				display: block;
				color: white;
				position: relative;

				&.var-top{
					position: relative;
					top: 35px;
					left: 5px;
				}
				&.var-right{
					text-align: center;
					clear: both;

					@media all and (min-width: 530px){
						text-align: right;
						right: 100px;
					}
				}
			}

			&.var-right{
				top: 105px;
			}
		}
		&.hide{
			display: none;
		}
		&::before{
			content:"✕";
			font-size: 1.5em;
			position: absolute;
			top: 0;
			right: 0;
			margin: 10px 15px;
			color: white;
		}
	}

	form{
		display: flex;
		width: 100%;
		margin: 0 0 20px;

		&.var-suggestion{
			flex-wrap: wrap;

			input{
				margin-left: 10px;
				border-radius: 3px 0 0 3px;
			}

			input[type=submit]{
				margin-left: 0;
				margin-right: 10px;
				padding: 10px 15px 13px;
				border-radius: 0 3px 3px 0;
			}
		}

		p.error{
			background: lighten($bad-background,35%);
			color: $bad-color;
			border: 1px solid $bad-background;
			padding: 7px 10px;
			margin: 15px 15px 0;
			border-radius: 3px;
			width: 100%;
		}

		label{
			width: 100%;
			padding:20px 13px 5px;
		}

		input{
			flex: 1;
			font-size: 1em;
			padding: 7px 10px;
			border: none;
			border-radius: 0;
		}

		input[type=submit]{
			flex: 0;
			background: $accent-background;
			background: linear-gradient($accent-background,$accent-background);
			border-radius: 0;
			border: none;
			color: $accent-color;
			padding:10px 35px 13px;
			font-size: 1.3em;
			cursor: pointer;
		}
	}

	ul{
		list-style: none;

		li{

			a{
				display: flex;
				background: white;
				border-radius: 3px;
				text-decoration: none;
				color: black;
				margin: 0 10px 15px;

				h2{
					padding:15px;
					flex: 1;
				}
				button{
					display: block;
					border: none;
					background: $accent-background;
					color: $accent-color;
					padding: 10px;
					font-family: $pixel-font;
					font-size: 1em;
					flex: 0;
					border-radius: 0 3px 3px 0;
					cursor: pointer;
				}
			}
		}
	}

	#oldPage>p{
		text-align: center;
		padding: 15px;
		background: white;
		border-radius: 3px;
		margin: 15px 10px 50px;
	}

	footer{
		font-size: 0.8em;
		color: darken($background-color,40%);
		text-align: center;
		padding: 30px 0 50px;
	}

	// play screeen

	header{
		a{
			display: inline-block;
			color: black;
			text-decoration: none;
			padding:10px;
			margin: 10px;
			background: lighten($background-color,$lighten);

			svg{
				height: 10px;
				width: 10px;
			}
		}
		h1{
			margin-top: 9px;
		}
		#mute{
			padding: 10px 13px;
			margin: 10px;
			background: lighten($background-color,$lighten);
			border:1px solid black;
			border-radius: 3px;
			position: absolute;
			top:0;
			right: 0;
			cursor: pointer;
		}
	}
	main{
		span{
			font-family: $writen-font;
			font-size: 4em;
			display: block;
			text-align: center;
			padding: 35px 0;
			position: relative;

			&::after{
				content: "";
				display: block;
				width: 150px;
				height: 150px;
				position: absolute;
				top:0;
				right: 0;
				left: 0;
				margin:0 auto;
				border: solid 1px gainsboro;
				z-index: -1;
				border-radius: 50%;
			}
		}
		button{
			background: $accent-background;
			background: linear-gradient($accent-background,$accent-background);
			border-radius: 0;
			border: none;
			font-size: 1.7em;
			margin: 30px auto 10px;
			display: block;
			color: $accent-color;
			padding:10px 40px 13px;
			cursor: pointer;

			&.var-sub{
				font-size: 1.5em;
				background: lighten($accent-background,10%);
				background: linear-gradient(lighten($accent-background,10%),lighten($accent-background,10%));
			}
		}

		.text-box{
			display: block;
			background-color: white;
			text-align: center;
			margin: 10px auto 50px;
			width:70%;
			min-width: 250px;
			max-width: 500px;
			padding: 20px;
			border-radius: 5px;
			font-size: 1.4em;

			.legend{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-top: 30px;

				.legend-item{
					display: flex;
					flex: 1;
					padding: 0 10px;

					.key{
						display: block;
						width: 50px;
						height: 50px;
						border: 10px solid gainsboro;
						margin: 5px ;
						border-radius: 5px;
						float: left;
						background: repeating-linear-gradient(-45deg
						,$accent-background
						,$accent-background $stroke-width
						,lighten($accent-background,5%) $stroke-width
						,lighten($accent-background,5%) $stroke-width*2);

						&.var-good{
							background: repeating-linear-gradient(-45deg
							,$good-background
							,$good-background $stroke-width
							,lighten($good-background,5%) $stroke-width
							,lighten($good-background,5%) $stroke-width*2);
						}
						&.var-bad{
							background: repeating-linear-gradient(-45deg
							,$bad-background
							,$bad-background $stroke-width
							,lighten($bad-background,5%) $stroke-width
							,lighten($bad-background,5%) $stroke-width*2);
						}
						&.var-finisher{
							border-color: $finisher-border-color;
						}
					}
					.description{
						align-self: center;
						padding-left: 10px;
						font-size: 1.2rem;
					}
				}
			}
		}

		.card{
			opacity: 0;
			transition: all .5s ease;
			pointer-events: none;
			position: absolute;
			top:0;
			bottom: 0;
			right: 0;
			left: 0;
			background: darken($background-color,$darken);

			dialog{
				display: block;
				background:white;
				width: 70%;
				max-width: 500px;
				margin: 50px auto 0;
				border: 10px solid gainsboro;
				border-radius: 5px;
				box-shadow: 0 0 15px darken($background-color,$darken + 10%);
				position: absolute;
				transition: all .5s ease;
				transform: translateY(-50px);
				top:0;
				left: 0;
				right: 0;
				bottom: 115px;

				&.var-good{
					h2{
						background: repeating-linear-gradient(-45deg
						,$good-background
						,$good-background $stroke-width
						,lighten($good-background,5%) $stroke-width
						,lighten($good-background,5%) $stroke-width*2);
						color: $good-color;
					}
				}
				&.var-bad{
					h2{
						background: repeating-linear-gradient(-45deg
						,$bad-background
						,$bad-background $stroke-width
						,lighten($bad-background,5%) $stroke-width
						,lighten($bad-background,5%) $stroke-width*2);
						color: $bad-color;
					}
				}
				&.var-finisher{
					border-color: $finisher-border-color;
				}

				h2{
					padding: 20px;
					background: $accent-background;
					background: repeating-linear-gradient(-45deg
					,$accent-background
					,$accent-background $stroke-width
					,lighten($accent-background,5%) $stroke-width
					,lighten($accent-background,5%) $stroke-width*2);
					color: $accent-color;
					margin-bottom: 10px;


				}
				figure{
					img{
						display: block;
						width: 100%;
					}
					figcaption{
						padding: 10px 20px;
						font-size: 1.3em;
					}
				}
			}

			button{
				position: absolute;
				bottom: 0;
				text-align: center;
				max-width: 520px;
				width: 70%;
				width: calc(70% + 20px);
				right: 0;
				left: 0;
				margin: 30px auto;
				padding-left: 50px;
				padding-right: 50px;
			}
			&.show{
				opacity: 1;
				pointer-events: auto;

				dialog{
					transform: translateY(0);
				}
			}
		}
	}
	#oldPage{
		&.show{
			height: 100vh;
		}
		&.hide{
			display: none;
		}
	}
	#nextPage{
		background: $background-color;
		position: fixed;
		top:0;
		left:0;
		right: 0;
		bottom: 0;
		opacity: 1;
		transition: all .5s ease-out;

		transform: translate(0);

		&.hide{
			opacity: 0;
			transform: translate(100%);
		}
		&.show{
			position: static;
		}
	}
	.hidden{
		display: none;
	}

	#win{
		opacity: 0;
		transition: all .5s ease;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left:0;
		background: darken($background-color,20%);
		pointer-events: none;

		form{
			width: 100%;
			flex-wrap: wrap;
		}

		&.win{
			opacity: 1;
			pointer-events: all;
		}
	}
}

