@import "variables";
*,html{
	margin: 0;
	padding: 0;
}

body{
	background: $background-color;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;

	h1{
		color: darken($background-color,10%);
		text-shadow: -1px -1px 1px darken($background-color,20%);
		p{
			font-family: $pixel-font;
		}
		span{
			font-family: $writen-font;
		}
	}

	form{
		display: flex;
		width: 100%;
		margin: 30px 0 20px;

		input{
			flex: 1;
			font-size: 1em;
			padding: 7px 10px;
		}

		input[type=submit]{
			flex: 0;
			background: linear-gradient($accent-background,$accent-background);
			background: $accent-background;
			border-radius: 0;
			border: none;
			color: $accent-color;
			padding:10px 20px 13px;
		}
	}
}

